<!DOCTYPE html>
<html>

<head>
  <title>Update Student</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Update Student</h1>
  <form method="post" action="/update/<%= student.id %>" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= student.name %>" required>
    <br>
    <label for="year">Year:</label>
    <input type="number" id="year" name="year" value="<%= student.year %>" required>
    <br>
    <label for="course">Course:</label>
    <input type="text" id="course" name="course" value="<%= student.course %>" required>
    <br>
    <label for="profile_pic">Profile Picture:</label>
    <input type="file" id="profile_pic" name="profile_pic">
    <br>
    <input type="submit" value="Save">
    <a href="/">Cancel</a>
  </form>

</body>

</html>